<div class="<%= resource.resource_type %>">
  <p>
    <% if resource.resource_type == "video" %>
      <%= image_tag(resource.thumb)%>
    <% end %>
  </p>
  <p>
    <%= link_to resource.title, resource_path(resource) %>
  </p>
  <p><%= resource.description %></p>

  <div>
  <% if current_user.teacher %>
    <%= link_to "edit", edit_resource_path(resource), class: "edit" %> | <%= link_to "delete", resource_path(resource), :method => :delete, :confirm => "Are you sure you want to delete this resource?" %>
  <% end %>
  </div>
</div>


