<% if current_user.teacher %>
<div class='edit-field <%= @resource.resource_type %>'>
  <h2>Edit</h2>

  <%= form_for(@resource) do |f| %>
  <div class="form_grouping">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div  class="form_grouping">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
    <% if @resource.resource_type == 'snippet' || @resource.resource_type == 'markdown'%>
    <div>
      <%= f.label :body %>
      <div id='snippet'><%= @resource.body %></div>
      <%= f.text_area :body %>
    </div>
    <% else %>
  <div class="form_grouping">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
    <% end %>
  <div>
    <%= f.submit "Update" %>
  </div>
  <% end %>
</div>
<% end %>
