<div id="resource-listing">
  <div class="field">
    <%= form_tag(resources_path, method: :get) do %>
      <%= text_field_tag "search[term]" %>
      <%= select_tag "search[resource_type]", options_for_select(["Pick a type", "video", "snippet", "markdown"]) %>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>

  <% if @resources %>
    <div>
      <h2>Search Results</h2>
       <div class="resource-content">
        <% if @resources.length > 0 %>
          <%= render @resources %>
          <% else %>
          <p class='notice'><%= "Sorry, nothing matches that search." %></p>
          <% end %>
      </div>
    </div>
  <% else %>
    <div>
      <h2 class="resource-type">Videos</h2>
      <div class="resource-content">
        <%= render partial: 'resource', :collection => @videos %>
      </div>
    </div>
    <div>
      <h2 class="resource-type">Snippets</h2>
      <div class="resource-content">
        <%= render partial: 'resource', :collection => @snippets %>
      </div>
    </div>
    <div>
      <h2 class="resource-type">Markdown</h2>
      <div class="resource-content">
        <%= render partial: 'resource', :collection => @markdowns %>
      </div>
    </div>
  <% end %>
</div>
