<%if current_user.teacher? %>
  <h2><%= t "devise.invitations.new.header" %></h2>

  <%= form_for :user, url: user_invitation_path do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email%>
    <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
  <% end %>
<% end %>

