<!DOCTYPE html>
<html>
<head>
  <title>Codeasaurus</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto', media: 'all', 'data-turbolinks-track' => true%>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Bowlby+One+SC', media: 'all', 'data-turbolinks-track' => true%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js'  %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.js' %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <div class="heading">
    <%= image_tag('sammy.png', alt:'Green dinosaur') %>
    <nav>
      <ul>
        <% unless current_page?('/')%>
          <li><%= link_to "Home", root_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    <h1>Codeasaurus</h1>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>




  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
