<!DOCTYPE html>
<html>
<head>
  <title>Codeasaurus</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto', media: 'all', 'data-turbolinks-track' => true%>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Bowlby+One+SC', media: 'all', 'data-turbolinks-track' => true%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js'  %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.js' %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <div class="heading">
    <%= image_tag('sammy.png', alt:'Green dinosaur') %>
    <div class='dropdown'>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <button class='dropbtn'>Menu</button>
        <% end %>
        <div class="dropdown-content">
        <% unless current_page?('/')%>
          <li><%= link_to "Home", root_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
            <% if current_user.teacher %>
              <li><%= link_to "Invite", new_user_invitation_path %></li>
              <li><%= link_to "Add Video", new_path("video") %></li>
              <li><%= link_to "Add Markdown", new_path("markdown") %></li>
              <li><%= link_to "Add Snippet", new_path("snippet") %></li>
              <li><%= link_to "View Issues", issues_path %></li>
            <% end %>
        <% end %>
      </div>
      </ul>
    </nav>
  </div>
    <h1>Codeasaurus</h1>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>




  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
